<img class="logo" src="/assets/Amazon-Logo-Transparent-1024x310.png" />
<div class="delivery">
    <span class="deliver-to">Livrer à Kevin</span>
    <span class="deliver-address">Neufmaison 7332</span>
</div>
<mat-form-field class="category" appearance="outline">
    <input
      matInput 
      type="text" 
      [matAutocomplete]="auto"/>
      <mat-label>Categorie</mat-label>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field class="search" appearance="outline">    
    <mat-label>Rechercher</mat-label>
    <input matInput >
    <mat-icon matSuffix>mode_edit</mat-icon>
</mat-form-field>