:host{
    max-width: 1200px;
    margin: 0 auto;
	display: flex;
	flex-wrap: wrap;    
    .product-container{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        margin: 10px;
        text-align: center;
        h4{
            display: block;
        }
        img{
            max-height: 250px;
        }
        span{
            display: block;
        }
    }
    .blank {
        height: 0;
    }
}